@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --background: #0f0f0f;
  --text: #fff;
  --primary: #3183ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--background);
}
